[submodule "loco_validator"]
	path = loco_validator
	url = git@github.com:Infomaniak/loco_validator.git
[submodule "src/loco_validator"]
	path = src/loco_validator
	url = https://github.com/Infomaniak/loco_validator
